parameters:
  bootstrap: web/core/tests/bootstrap.php
  fileExtensions:
    - php
    - module
    - inc
  ignoreErrors:
    - '#Function [a-zA-Z0-9\\_]+ not found.#'
    - '#Constant FILE_EXISTS_REPLACE not found.#'
  excludes_analyse:
    - "./**/*.post_update.php"
    - "./**/tests/**"
    - "./**/testing/**"
    - "./**/*/theme-settings.php"
    - "./**/*/*.api.php"
