html,
body,
ul,
ol {
  border: 5px solid grey;
}

body {
  color: #333;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

body > #container {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

nav {
  background-color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

article[role="main"] {
  float: left;
  width: 62.5%;
}

.message,
.success,
.error,
.warning {
  padding: 10px;
  border: 1px solid #ccc;
  color: #333;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}

.warning {
  border-color: yellow;
}
