###############################################################################
# Gitlab CI integration for Drupal 8/9 project or module: unit tests,
# code quality, linting, metrics and deploy samples.
#
# Project: https://gitlab.com/mog33/gitlab-ci-drupal
# Documentation: https://mog33.gitlab.io/docs-gitlab-ci-drupal
# Issues: https://gitlab.com/mog33/gitlab-ci-drupal/-/issues
# Author: Jean Valverde contact@dev-drupal.com
# License: GPL-3
#
# If you want to support this project, you can
# - Buy me a coffee: https://bit.ly/34jPKcE
# - Hire me as a freelance for any Drupal related work
# - Promote me to any company looking for any Drupal related work
# - Help me with testing / Documentation / Use cases
#
# For Gitlab CI help on this file see: https://docs.gitlab.com/ee/ci/yaml
#
# This template must be included from a .gitlab-ci.yml file, see documentation.
#
###############################################################################

include:
  - '/.gitlab-ci/ci/variables.yml'
  - '/.gitlab-ci/ci/variables_test.yml'
  - '/.gitlab-ci/ci/artifacts.yml'
  - '/.gitlab-ci/ci/01_build.yml'
  - '/.gitlab-ci/ci/02_test.yml'
  - '/.gitlab-ci/ci/03_qa.yml'
  - '/.gitlab-ci/ci/04_lint.yml'
  - '/.gitlab-ci/ci/05_metrics.yml'
  - '/.gitlab-ci/ci/06_deploy.yml'
  # [WIP] All reports in one page.
  - '/.gitlab-ci/ci/06_report.yml'
  # [WIP] Release to Gitlab / Github / Drupal.org
  - '/.gitlab-ci/ci/06_release.yml'

# Variables must be used in your .gitlab-ci.yml:
#
# variables:
#   extends: .default_variables

################################################################################
# Define your stages, this will be "pipelines" in gitlab.
#   https://docs.gitlab.com/ee/ci/pipelines.html
#   https://docs.gitlab.com/ee/ci/yaml/README.html#stages
################################################################################

stages:
  - build
  - tests
  - metrics
  # [DEPLOY] All deploy jobs can be set here.
  # Sample of a deploy workflow:
  # - deploy to testing
  # - deploy to production

################################################################################
# Build job.
################################################################################

# For a project, this build part use composer install to get the Drupal code.
# For a theme this can be used with a specific script to build something
# (grunt, webpack, yarn...).
build:
  extends: .build_template
  rules:
    - if: '$SKIP_BUILD == "1"'
      when: never
    - when: always
  script:
    # Validate the composer.json file.
    - if [ ${CI_TYPE} == "project" ] && [ -f composer.json ]; then
        composer validate --no-check-all --no-check-publish -n --no-ansi;
      fi
    # Install the project.
    - if [ ${CI_TYPE} == "project" ] && [ -f composer.json ]; then
        composer install --no-ansi -n --prefer-dist;
      fi
    # Ensure we have Drupal Dev third party for next jobs, mostly PHPUnit.
    - if [ ! -f "vendor/bin/phpunit" ] && [ ${CI_TYPE} == "project" ] && [ -f composer.json ]; then
        composer require --no-ansi -n --dev "drupal/core-dev:^${CI_DRUPAL_VERSION}";
      fi
    - vendor/bin/phpunit --version

################################################################################
# Drupal tests.
# https://git.drupalcode.org/project/drupal/blob/HEAD/core/tests/README.md
################################################################################

phpunit_unit-kernel:
  stage: tests
  extends: .test_template
  rules:
    - if: '$SKIP_TESTS == "1" || $SKIP_TEST_UNITKERNEL == "1"'
      when: never
    - when: on_success
  script:
    # Prepare report folders for coverage.
    - mkdir -p report-${CI_JOB_NAME}/coverage-xml report-${CI_JOB_NAME}/coverage-html
    # Run PHPunit tests for unit, kernel, with coverage report.
    - ${DOC_ROOT}/vendor/bin/phpunit --testsuite "${PHPUNIT_TESTS}unit,${PHPUNIT_TESTS}kernel"
        --configuration ${WEB_ROOT}/core
        --coverage-xml ${CI_PROJECT_DIR}/report-${CI_JOB_NAME}/coverage-xml
        --coverage-html ${CI_PROJECT_DIR}/report-${CI_JOB_NAME}/coverage-html
        --coverage-clover ${CI_PROJECT_DIR}/report-${CI_JOB_NAME}/coverage.xml
        --coverage-php ${CI_PROJECT_DIR}/report-${CI_JOB_NAME}/coverage.cov
        --coverage-text
        --colors=never
        --testdox-html report-${CI_JOB_NAME}/phpunit.html
        --log-junit report-${CI_JOB_NAME}/junit-unit-kernel.xml
        --verbose --debug
  after_script:
    # [CODECOV] integration, need to set up CI ENVIRONMENT VARIABLES 'CODECOV_TOKEN' to work.
    # see https://codecov.io
    - if [ ! -z ${CODECOV_TOKEN} ] && [ -f "report-${CI_JOB_NAME}/coverage.xml" ]; then
        bash <(curl -s https://codecov.io/bash) -f "report-${CI_JOB_NAME}/coverage.xml" || true;
      fi
  # https://docs.gitlab.com/ee/ci/yaml/#coverage
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'

phpunit_functional:
  stage: tests
  extends: .test_template
  rules:
    - if: '$SKIP_TESTS == "1" || $SKIP_TEST_FUNCTIONAL == "1"'
      when: never
    - when: on_success  # Only for this project to generate documentation.
  script:
    # For functional tests the user need to be the web server user.
    - sudo -E -u www-data ${DOC_ROOT}/vendor/bin/phpunit --testsuite "${PHPUNIT_TESTS}functional"
        --configuration ${WEB_ROOT}/core
        --log-junit report-${CI_JOB_NAME}/junit-functional.xml
        --testdox-html report-${CI_JOB_NAME}/phpunit.html
        --verbose --debug
  after_script:
    - mkdir -p "${CI_PROJECT_DIR}/report-${CI_JOB_NAME}/browser_output"
    - cp ${WEB_ROOT}/sites/simpletest/browser_output/* "report-${CI_JOB_NAME}/browser_output" || true

phpunit_functionaljs:
  stage: tests
  extends: .test_template
  rules:
    - if: '$SKIP_TESTS == "1" || $SKIP_TEST_FUNCTIONALJS == "1"'
      when: never
    - when: on_success
  script:
    # Launch Chromedriver.
    - /scripts/start-chromedriver.sh&
    - sleep 2s
    - curl -s http://localhost:9515/status | jq '.' || true
    - ${DOC_ROOT}/vendor/bin/phpunit --testsuite "${PHPUNIT_TESTS}functional-javascript"
        --configuration ${WEB_ROOT}/core
        --log-junit report-${CI_JOB_NAME}/junit-functionaljs.xml
        --testdox-html report-${CI_JOB_NAME}/phpunit.html
        --verbose --debug
  after_script:
    - mkdir -p report-${CI_JOB_NAME}/browser_output
    - cp ${WEB_ROOT}/sites/simpletest/browser_output/* "report-${CI_JOB_NAME}/browser_output" || true

# https://www.drupal.org/docs/8/testing/javascript-testing-using-nightwatch
nightwatchjs:
  stage: tests
  extends: .test_template
  rules:
    - if: '$SKIP_TESTS == "1" || $SKIP_TEST_NIGHTWATCH == "1"'
      when: never
    - when: on_success
  script:
    # @TODO: remove when Drupal 8.7/8.8 is deprecated.
    - |
      # Patch Drupal for Nightwatch profile support. https://drupal.org/node/3017176
      touch 3017176.patch
      if [ ${CI_DRUPAL_VERSION} == "8.7" ]; then
        curl -fsSL https://www.drupal.org/files/issues/2019-09-06/3017176-12.patch -o 3017176.patch || true
      elif [ ${CI_DRUPAL_VERSION} == "8.8" ]; then
        curl -fsSL https://www.drupal.org/files/issues/2019-11-11/3017176-16.patch -o 3017176.patch || true
      fi
      patch -d ${WEB_ROOT} -N -p1 < 3017176.patch || true
    # Install packages from Drupal.
    - yarn --cwd ${WEB_ROOT}/core install
    # Update chromedriver if needed, the ci image include the latest stable version of chrome.
    # Drupal package.json can be late on chromedriver version.
    - yarn --cwd ${WEB_ROOT}/core upgrade chromedriver@$(google-chrome --product-version | cut -d. -f1)
    # Log versions.
    - |
      ${WEB_ROOT}/core/node_modules/.bin/nightwatch --version
      ${WEB_ROOT}/core/node_modules/.bin/chromedriver --version
      /usr/bin/google-chrome --version
    # Prepare reports.
    - mkdir -p /tmp/report-${CI_JOB_NAME}
    # Launch Nightwatch tests from core folder.
    - yarn --cwd ${WEB_ROOT}/core test:nightwatch
  after_script:
    # Html report, install plugin and run from the xml report.
    - yarn --cwd ${WEB_ROOT}/core add nightwatch-html-reporter
    - ${WEB_ROOT}/core/node_modules/.bin/nightwatch-html-reporter
        --report-dir /tmp/report-${CI_JOB_NAME}
        --output nightwatch.html
        --browser false
        --theme outlook
    - cp -r /tmp/report-${CI_JOB_NAME} ${CI_PROJECT_DIR}/

################################################################################
# Third party tools tests.
################################################################################

# Symfony security-checker report.
security:
  stage: tests
  extends: .test_template
  rules:
    - if: '$SKIP_TESTS == "1" || $SKIP_TEST_SECURITY == "1"'
      when: never
    - when: on_success
  script:
    - mkdir -p report-${CI_JOB_NAME}
    - security-checker security:check /var/www/html/composer.lock --no-ansi 2>&1 | tee report-${CI_JOB_NAME}/security.txt
  # Allow failure to produce report and warning when we have an error.
  allow_failure: true

# Behat tests from tests/ folder.
behat:
  stage: tests
  extends: .test_template
  rules:
    - if: '$SKIP_TESTS == "1" || $SKIP_TEST_BEHAT == "1"'
      when: never
    - when: on_success
  script:
    # @TODO, update when drupal/drupal-extension support Drupal 9
    - |
      # Test if Drupal < 9
      if [ $(echo ${CI_DRUPAL_VERSION} | cut -d. -f1) == "9" ]; then
        echo -e "\033[1;31mDrupal 9 not yet supported for Behat tests.\033[0;37m"
        exit 1
      fi
    - |
      # Test if we have a behat.yml file
      if [ ! -f "${CI_PROJECT_DIR}/behat_tests/behat.yml" ]; then
        echo -e "\033[1;31mNo behat tests found in behat_tests/behat.yml.\033[0;37m"
        exit 1
      fi
    # Install Drupal with the standard profile.
    - robo drupal:install standard
    # Starting Chrome, we are not using Chromedriver.
    - /scripts/start-chrome.sh&
    - sleep 2s
    # Test Chrome is running properly.
    - curl -s http://localhost:9222/json/version | jq '.' || true
    # Install behat and plugins with more memory.
    - |
      if [ ! -f "${DOC_ROOT}/vendor/bin/behat" ]; then
        COMPOSER_MEMORY_LIMIT=-1 composer require -d /var/www/html --no-ansi -n --no-suggest --dev \
          "bex/behat-screenshot:^1.2" \
          "dmore/behat-chrome-extension:^1.3" \
          "emuse/behat-html-formatter:0.1.*" \
          "drupal/drupal-extension:~4.0"
      fi
    # Run the behat tests from the 'behat_tests/' folder at the root of the project.
    - ${DOC_ROOT}//vendor/bin/behat --config ${CI_PROJECT_DIR}/behat_tests/behat.yml
          --format progress
          --out std
          --format junit
          --out ${CI_PROJECT_DIR}/report-${CI_JOB_NAME}
          --format html
          --out ${CI_PROJECT_DIR}/report-${CI_JOB_NAME}

################################################################################
# Accessibility jobs for Drupal 8+
################################################################################

# @TODO: xml / html or text report ?
accessibility_pa11y:
  stage: tests
  extends: .test_template
  rules:
    - if: '$SKIP_TESTS == "1" || $SKIP_TEST_PA11Y == "1"'
      when: never
    - when: on_success
  script:
    # Install Drupal with the standard profile.
    - robo drupal:install standard
    # Install Pa11y-ci for tests with yarn.
    - yarn --cwd ${WEB_ROOT}/core add pa11y-ci
    - mkdir -p "${CI_PROJECT_DIR}/report-${CI_JOB_NAME}"
    # Run pa11y tests using ./gitlab-ci/pa11y-ci.json file definition.
    - ${WEB_ROOT}/core/node_modules/.bin/pa11y-ci --config ${CI_PROJECT_DIR}/.gitlab-ci/pa11y-ci.json 2>&1 | tee report-${CI_JOB_NAME}/pa11y.txt
  after_script:
    - cp pa11y*.png "${CI_PROJECT_DIR}/report-${CI_JOB_NAME}"

################################################################################
# Code quality jobs for Drupal 8+ based on PHPQA
# https://github.com/EdgedesignCZ/phpqa
################################################################################

php-qa:
  stage: tests
  extends: .qa_template
  rules:
    - if: '$SKIP_QA == "1"'
      when: never
    - when: on_success
  script:
    # Default is no errors allowed for quality tests.
    - phpqa --tools ${TOOLS_QA}
        --config ${CI_PROJECT_DIR}/.gitlab-ci
        --buildDir "${CI_PROJECT_DIR}/report-${CI_JOB_NAME}"
        --analyzedDirs "${DIRS_QA}"
  # Allow failure to produce report and warning, not blocking the pipeline.
  # allow_failure: true

################################################################################
# Code lint jobs for Drupal 8+
################################################################################

# This is a eslint report based on Drupal 8.x standards.
# https://www.drupal.org/docs/develop/standards/javascript
# @TODO: junit report.
lint_js:
  stage: tests
  extends: .lint_template
  rules:
    - if: '$SKIP_LINT == "1" || $SKIP_LINT_JS == "1"'
      when: never
    - when: always
  script:
    # Start from the core folder to access node_modules.
    - cd ${WEB_ROOT}/core
    # Run the eslint command to generate an html report.
    # --format junit --output-file "${CI_PROJECT_DIR}/report-${CI_JOB_NAME}/eslint-unit.xml"
    - ${WEB_ROOT}/core/node_modules/.bin/eslint
        --config ${WEB_ROOT}/core/.eslintrc.passing.json
        --format html --output-file "${CI_PROJECT_DIR}/report-${CI_JOB_NAME}/eslint.html"
        "${DIRS_JS}"

# Drupal 8.x rules used here for stylelint to check css.
# https://www.drupal.org/docs/develop/standards/css
# @TODO: stylelint html & junit report. + sass / scss support?
# https://www.npmjs.com/package/stylelint-junit-formatter
lint_css:
  stage: tests
  extends: .lint_template
  rules:
    - if: '$SKIP_LINT == "1" || $SKIP_LINT_CSS == "1"'
      when: never
    - when: always
  script:
    # Start from the core folder to access node_modules.
    - cd ${WEB_ROOT}/core
    # Css report, terminal only for now.
    - ${WEB_ROOT}/core/node_modules/.bin/stylelint
        --config ${WEB_ROOT}/core/.stylelintrc.json
        --formatter verbose
        "${DIRS_CSS}"
        2>&1 | tee ${CI_PROJECT_DIR}/report-${CI_JOB_NAME}/lint_css.txt

lint_twig:
  stage: tests
  extends: .lint_template
  rules:
    - if: '$SKIP_LINT == "1" || $SKIP_LINT_TWIG == "1"'
      when: never
    - when: always
  script:
    - curl -4fsSL https://asm89.github.io/d/twig-lint.phar -o twig-lint
    # Lint report, terminal only.
    - php twig-lint lint "${DIRS_TWIG}" 2>&1 | tee ${CI_PROJECT_DIR}/report-${CI_JOB_NAME}/lint_twig.txt

################################################################################
# Code metrics, would probably make sense only for a tag release.
################################################################################

# Phpmetrics, Phploc, Pdepend report, no pass or failure as it's just informative.
# @TODO phpmetrics with junit report from code-coverage
metrics:
  stage: metrics
  extends: .metrics_template
  rules:
    - if: '$SKIP_METRICS == "1"'
      when: never
    - when: always
  script:
    - cp ./report-phpunit_*/*.xml /tmp/ || true
    - phpqa --tools ${TOOLS_METRICS}
        --config ${CI_PROJECT_DIR}/.gitlab-ci
        --buildDir "report-${CI_JOB_NAME}"
        --analyzedDirs "${DIRS_PHP}"

################################################################################
# Base image for all ci actions, see https://gitlab.com/mog33/drupal8ci
################################################################################

default:
  image: mogtofu33/drupal8ci:${CI_IMAGE_REF}-${CI_DRUPAL_VERSION}
