# Generate and include a baseline file relative to this file.
# @see https://phpstan.org/user-guide/baseline
# includes:
#     - phpstan-baseline.neon
parameters:
    level: 5
    excludePaths:
        analyseAndScan:
            - *RoboFile.php
            - */tests/*
            - */Tests/*
            - */node_modules/*
            - */vendor/*
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
