includes:
    - /var/www/.composer/vendor/mglaman/phpstan-drupal/extension.neon
parameters:
    drupal:
        drupal_root: /var/www/html
    excludes_analyse:
        - *Test.php
        - *TestBase.php
