<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
         cacheResult="false">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    <!-- Drupal variables are already set in the environment -->
  </php>
  <testsuites>
    <testsuite name="unit">
      <file>./tests/TestSuites/UnitTestSuite.php</file>
    </testsuite>
    <testsuite name="kernel">
      <file>./tests/TestSuites/KernelTestSuite.php</file>
    </testsuite>
    <testsuite name="functional">
      <file>./tests/TestSuites/FunctionalTestSuite.php</file>
    </testsuite>
    <testsuite name="functional-javascript">
      <file>./tests/TestSuites/FunctionalJavascriptTestSuite.php</file>
    </testsuite>
    <!-- Prefix with custom for only custom code with submodules -->
    <testsuite name="customunit">
      <directory>../**/custom/**/tests/src/Unit</directory>
      <directory>../**/custom/**/**/**/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="customkernel">
      <directory>../**/custom/**/tests/src/Kernel</directory>
      <directory>../**/custom/**/**/**/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="customfunctional">
      <directory>../**/custom/**/tests/src/Functional</directory>
      <directory>../**/custom/**/**/**/tests/src/Functional</directory>
    </testsuite>
    <testsuite name="customfunctional-javascript">
      <directory>../**/custom/**/tests/src/FunctionalJavascript</directory>
      <directory>../**/custom/**/**/**/tests/src/FunctionalJavascript</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener">
    </listener>
  </listeners>
  <!-- Filter for coverage reports. -->
  <coverage>
    <include>
      <directory>../modules/custom</directory>
      <directory>../themes/custom</directory>
    </include>
    <exclude>
      <directory>../modules/custom/*/src/Tests</directory>
      <directory>../modules/custom/*/tests</directory>
      <directory>../modules/custom/*/modules/*/src/Tests</directory>
      <directory>../modules/custom/*/modules/*/tests</directory>
      <directory>../themes/custom/*/src/Tests</directory>
      <directory>../themes/custom/*/tests</directory>
      <directory>../themes/custom/*/modules/*/src/Tests</directory>
      <directory>../themes/custom/*/modules/*/tests</directory>
    </exclude>
  </coverage>
</phpunit>
