// Dummy styles for test.

@import 'base';

$font-stack: Helvetica, Arial, Verdana, Tahoma, sans-serif;
$primary-color: #333;
$secondary-color: #ccc;
$alert: rgb(255, 0, 0);
$warning: rgb(255, 255, 0);
$ok: rgb(0, 255, 60);

// Sample of something.
body {
  font-family: $font-stack;
  color: $primary-color;
  > #container {
    text-align: left;
    margin: 0 auto;
    width: 500px;
  }
}

nav {
  background-color: $alert;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

// Mixin for test.
@mixin transform($property) {
  transform: $property;
}

.box { @include transform(rotate(30deg)); }

// Operator for test.
article {
  &[role='main'] {
    float: left;
    width: 600px / 960px * 100%;
  }
}

// test extended.
%message-shared {
  border: 1px solid $secondary-color;
  padding: 10px;
  color: $primary-color;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: $ok;
}

.error {
  @extend %message-shared;
  border-color: $alert;
}

.warning {
  @extend %message-shared;
  border-color: $warning;
}
